:root {
  font-family: Inter, "Sans Serif";
}

.app {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 600px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.row-part {
  display: inline-flex;
  align-items: center;
  gap: 16px;
}
